<div class="container">
  <h4>Welcome, <%= current_user.first_name %>. Here's your weekly statistics</h4>
  <h6 class="font-weight-bold text-uppercase mb-1">Week Commencing 6th July 2019<%#= @restaurant.name.upcase if @restaurant %></h6>
  <div class="row py-3">
    <div class="col-4">
      <span class="text-md font-weight-bold spotlight-green text-uppercase mb-1">New reviews</span>
      <div class="h2 mb-0 mr-3 font-weight-bold text-gray-800">10 new</div>
    </div>
    <div class="col-4">
      <span class="text-md font-weight-bold spotlight-green text-uppercase mb-1">Positivity</span>
      <div class="h2 mb-0 mr-3 font-weight-bold text-gray-800">:)</div>
    </div>
    <div class="col-4">
      <span class="text-md font-weight-bold spotlight-green text-uppercase mb-1">Weeks performance</span>
      <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">3 more reviews than average</div>
      <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">Slightly better feedback than usual</div>
    </div>
  </div>
</div>
