<div class="row">
  <div class="col-12">
    <div class="top-panel d-flex justify-content-around">
      <div class="left">
        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Reviews</div>
        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= restaurant.four_square_reviews.count %></div>
      </div>
      <div class="right">
        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Since last login</div>
        <div class="h5 mb-0 mr-3 text-gray-800"><strong><%= restaurant.four_square_reviews.where(review_time: current_user.last_sign_in_at..Date.today).count %></strong> new</div>
      </div>
    </div>
  </div>
</div>
<hr class='sidebar-divider d-none d-md-block mx-3 my-4'>
<div class="row">
  <div class="col-6 mx-auto">
    <div class="chart-left w-100 d-flex flex-column pl-4">
      <span class="text-xs font-weight-bold text-uppercase mb-2 text-gray-800">Reviews by month</span>
        <!-- four_square Chart 1 -->
        <canvas id="foursquareBarChart" width="130" height="100" data-reviewcountdata="<%= restaurant.last_six_months_review_count(FoursquareReview) %>" ></canvas>
    </div>
  </div>
</div>
