<div class="card shadow h-200 p-2 d-flex flex-row dash-card position-relative">
  <h6>Google Performance</h6>
  <hr class="sidebar-divider d-none d-md-block mt-4">
  <%= image_tag 'google-logo.png', class: 'logo-button-white-lg' %>
  <div class="google-chart-2" style="width: 300px">
    <!-- Google Chart 2 -->
    <canvas id="googleReviewsRatingsChart" width="200" height="200"></canvas>
  </div>
</div>
