
<div class="container">
  <!-- Summary box -->
  <div class="row pb-2">
    <div class="card shadow h-200 p-2 d-flex flex-row dash-sum-box position-relative mx-auto"">
      <h1>Data Candy</h1>
    </div>
  </div>


   <!-- ROW 1 -->
  <div class="row d-flex justify-content-around py-2">
    <!-- Google card -->
    <div class="card shadow h-200 p-2 d-flex flex-row dash-card position-relative"">
      <div class = "logo-button-white-lg top-left">
        <img src="http://pngimg.com/uploads/google/google_PNG19635.png" alt="">
      </div>
    </div>
    <!-- Zomato card -->
    <div class="card shadow h-200 p-2 d-flex flex-row dash-card"">
      <div class = "logo-button-white shadow-sm">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Zomato-flat-logo.png/200px-Zomato-flat-logo.png" alt="">
      </div>
    </div>
  </div>

  <!-- ROW 2 -->
  <div class="row d-flex justify-content-around py-2">
    <!-- Tripadvisor card -->
    <div class="card shadow h-200 p-2 d-flex flex-row dash-card position-relative"">
      <div class = "logo-button-white shadow-sm">
        <img src="https://media.glassdoor.com/sqll/15276/tripadvisor-squarelogo-1496150455363.png" alt="">
      </div>
    </div>
    <!-- Yelp card -->
    <div class="card shadow h-200 p-2 d-flex flex-row dash-card"">
      <div class = "logo-button-white-lg">
        <img src="https://dlpcapitalpartners.com/wp-content/uploads/2019/01/yelp-logo.png" alt="">
      </div>
    </div>
  </div>

   <!-- ROW 3 -->
  <div class="row d-flex justify-content-around py-2">
    <!-- FB card -->
    <div class="card shadow h-200 p-2 d-flex flex-row dash-card position-relative"">
      <div class = "logo-button-white shadow-sm">
        <img src="https://image.flaticon.com/icons/png/512/124/124010.png" alt="">
      </div>
    </div>
    <!-- Insta card -->
    <div class="card shadow h-200 p-2 d-flex flex-row dash-card"">
      <div class = "logo-button-white">
        <img src="http://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png" alt="">
      </div>
    </div>
  </div>

</div>



