// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #3DD6D0;
$dark-blue: #023436;
$light-pale-blue: #f7f9f9;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$green-spotlight: #1EDD88;
$dark-green: #037971;
$gray: #0E0000;
$light-gray: #F4F4F4;

.spotlight-green {
  color: $green-spotlight;
}

.dark-blue {
  color: $dark-blue;
}
