// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #3DD6D0;
$dark-blue: #0d3441;
$light-pale-blue: #f7f9f9;
$bright-light-blue: #30a9cf;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$spotlight-primary: #175a87;
$spotlight-primary-hover: #09334f;
$spotlight-secondary: #8BB0C9;
$dark-green: #037971;
$gray: #0E0000;
$light-gray: #F4F4F4;

.spotlight-primary {
  color: $spotlight-primary !important;
}

.spotlight-primary-br {
  background-color: $spotlight-primary !important;
}

.dark-blue {
  color: $dark-blue;
}

.white {
  color: white !important;
}
