.home-nav {
  justify-content: space-between;
  padding: 20px 0;

  .nav-item {
    display: flex;
    align-items: center;
  }
}

.home-nav .navbar-collapse {
  flex-grow: 0;
}

.home-nav .navbar-brand img {
  width: 200px;
}

.landing-section-1 {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.landing-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 100vw;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
