<div class="sign-up-content p-5">
  <!-- Sign up card content here: -->
  <h2><strong class="spotlight-primary"><%= current_user.first_name %></strong>,
      you're a beta user.
  </h2>
  <p>While we gear ourselves ready for launch you're in for free! Thank you for
    being a part of shaping Spotlight.</p>
    <div class="text-center mt-5 mb-3">
      <%= link_to "Continue to Dashboard", root_path, class: 'btn-flat' %>
    </div>
</div>
