<div class="container">
  <%= render 'shared/landing_nav_bar' %>
</div>
<div class="container" style="min-height: calc(100vh - 122px)">
  <div class="row">
    <div class="col-10 mx-auto">

      <!-- Sign up card start -->
      <div class="sign-up-card mb-5">
        <%= render 'shared/form_wrapper', form_to_show: 'users/form', item:nil %>
      </div>
      <!-- Sign up card end -->
    </div>
  </div>
</div>
