<div class="card mb-3" style = "width:530px;">
  <div class="row no-gutters" style = "height:130px;">
    <div>
      <img style = "height: 130px; width:130px; object-fit: cover"src="https://i.pinimg.com/564x/2c/b5/23/2cb5238a1f642f8926d52c06713b9093.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="p-3" style ="width: 400px;">
        <div class = "d-flex justify-content-between pb-2">
          <h5 class="card-title my-auto" style="width:68%; font-size: 16px;"><%= competitor[:name] %></h5>
          <div class = "px-2" style="font-size: 14px;">
            <% 3.times do  %>
            <span class="fa fa-star checked" style="color: #F5A431"></span>
            <% end %>
            <% (5 - 3).times do %>
            <span class="fa fa-star" style="color: #CDCDCD"></span>
            <% end %>
          </div>
        </div>
        <div class = "d-flex align-items-center" style= "font-size: 12px;">
          <ul>
            <li>Total ratings = 201</li>
            <li><%=competitor[:price_level] %></li>
            <li><%=competitor[:user_ratings_total]%> </li>
            <%# if restaurant.price_level == 1 %>
       <!--        <li>Price level = $</li>
            <%# elsif restaurant.price_level == 2 %>
              <li>Price level = $$</li>
            <%# elsif restaurant.price_level == 3 %>
              <li>Price level = $$$</li>
            <%# elsif restaurant.price_level == 4 %>
              <li>Price level = $$$$</li> -->
            <%# end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
