<div class="col-xl-10 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-200 py-2 pl-4 d-flex flex-row br20">
<!--     left-side-->
    <div>
      <div class="d-flex position pb-1">
        <img class = 'avatar' src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
        <div class = "px-2 my-auto">
          <% 2.times do  %>
          <span class="fa fa-star checked" style="color: #F5A431"></span>
          <% end %>
          <% (5 - 2).times do %>
          <span class="fa fa-star" style="color: #CDCDCD"></span>
          <% end %>
        </div>
        <p class = "my-auto" style="color: #E34444">NEW</p>
      </div>
      <div>
        Life is a mystery, everyone must stand alone I hear you call my name And it feels like home When you call my name it's like a little prayer I'm down on my knees, I wanna take you there In the midnight hour I can feel your power Just like a prayer you know I'll take you there
      </div>
    </div>
<!--     right side-->
    <div class="d-flex flex-column px-2 justify-content-between">
      <i class="fas fa-external-link-square-alt open-link"></i>
      <div class = "logo-button-white">
        <img src="http://pngimg.com/uploads/google/google_PNG19635.png" alt="">
      </div>
    </div>
  </div>
</div>
