
    <div class="h-200 d-flex justify-content-around mx-auto dash-sum-box">
      <div class="container mb-0">
        <h3>Social feed</h3>
      </div>
    </div>
    <ul class="nav nav-pills mt-0" id="pills-tab" role="tablist">
      <li class="nav-item filter-touchup">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">All Channels</a>
      </li>
      <li class="nav-item filter-touchup">
        <a class="nav-link" id="pills-Google-tab" data-toggle="pill" href="#pills-Google" role="tab" aria-controls="pills-Google" aria-selected="false">
          Google
        </a>
      </li>
      <li class="nav-item filter-touchup">
        <a class="nav-link" id="pills-Yelp-tab" data-toggle="pill" href="#pills-Yelp" role="tab" aria-controls="pills-Yelp" aria-selected="false">Yelp</a>
      </li>
      <li class="nav-item filter-touchup">
        <a class="nav-link" id="pills-Zomato-tab" data-toggle="pill" href="#pills-Zomato" role="tab" aria-controls="pills-Zomato" aria-selected="false">Zomato</a>
      </li>
      <li class="nav-item filter-touchup">
        <a class="nav-link" id="pills-Foursquare-tab" data-toggle="pill" href="#pills-Foursquare" role="tab" aria-controls="pills-Foursquare" aria-selected="false">Foursquare</a>
      </li>
    </ul>
