<div class="card mb-3" style = "width:530px;">
  <div class="row no-gutters position-relative" style = "height:130px;">
    <div>
      <img class= position-absolute style="top:0;left:0; width:40px; height:40px; "; src="https://image.flaticon.com/icons/svg/608/608671.svg" alt="">
      <img style = "height: 130px; width:130px; object-fit: cover"src="https://i.pinimg.com/564x/2c/b5/23/2cb5238a1f642f8926d52c06713b9093.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body" style ="width: 400px;">
        <div class = "d-flex justify-content-between pb-2">
          <h5 class="card-title my-auto" style="width:68%; font-size: 16px;"><%=restaurant.name %></h5>
          <div class = "px-2" style="font-size: 14px;">
            <% restaurant.average_google_rating.to_i.times do  %>
              <span class="fa fa-star checked" style="color: #F5A431"></span>
              <% end %>
            <% if restaurant.average_google_rating - restaurant.average_google_rating.to_i > 0.1 %>
              <span class="fa fa-star-half" style="color: #F5A431"></span>
              <% (4 - restaurant.average_google_rating.to_i).times do %>
                <span class="fa fa-star" style="color: #CDCDCD"></span>
              <% end %>
            <% else %>
              <% (5 - restaurant.average_google_rating.to_i).times do %>
                <span class="fa fa-star" style="color: #CDCDCD"></span>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class = "d-flex align-items-center" style= "font-size: 12px;">
          <ul>
            <li>Rating = <%= restaurant.average_google_rating.round(1) %></li>
            <li>Total ratings = <%= restaurant.google_reviews.count %></li>
            <% if restaurant.price_level == 1 %>
              <li>Price level = $</li>
            <% elsif restaurant.price_level == 2 %>
              <li>Price level = $$</li>
            <% elsif restaurant.price_level == 3 %>
              <li>Price level = $$$</li>
            <% elsif restaurant.price_level == 4 %>
              <li>Price level = $$$$</li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
