<!-- Zomato CARD -->
<div class="col-xl-12 col-md-12 mb-2">
  <div class="card border-left-warning shadow h-200 py-2 pl-4 d-flex flex-row card-touchup">
<!--     left-side-->
    <div>
      <div class="d-flex position pb-1">
        <img class = 'avatar' src=<%= review.user_image %> alt=""> <!-- Replace with review.user_image-->
        <div class = 'namebox my-auto'><%=review.user_name%>  <!-- Replace with: review.user_name--></div>
        <div class = "px-2 my-auto">
          <% review.rating.to_i.times do  %> <!-- Replace 3 with -->
          <span class="fa fa-star checked" style="color: #F5A431"></span>
          <% end %>
          <% (5 - review.rating.to_i).times do %> <!-- Replace 3 with review.rating-->
          <span class="fa fa-star" style="color: #CDCDCD"></span>
          <% end %>
        </div>
        <p class = "my-auto" style="color: #E34444">NEW</p>
      </div>
      <div>
        <%= review.review %>
      </div>
    </div>
<!--     right side-->
    <div class="d-flex flex-column px-2 justify-content-between">
      <i class="fas fa-external-link-square-alt open-link"></i>
      <div class = "logo-button-white-lg">
        <img src="https://dlpcapitalpartners.com/wp-content/uploads/2019/01/yelp-logo.png" alt="">
      </div>
    </div>
  </div>
</div>
