<!-- Zomato CARD -->
<div class="col-xl-12 col-md-12 mb-2">
  <div class="card border-left-danger shadow h-200 py-2 pl-4 d-flex flex-row card-touchup">
<!--     left-side-->
    <div>
      <div class="d-flex position pb-1">
        <img class = 'avatar' src=<%= review.review.reviewer_image %>> <!-- Replace with review.user_image-->
        <div class = 'namebox my-auto'><%=review.review.reviewer_username%></div>
        <div class = "px-2 my-auto">
          <% review.rating.to_i.times do  %> <!-- Replace 3 with review.rating-->
          <span class="fa fa-star checked" style="color: #F5A431"></span>
          <% end %>
          <% (5 - review.rating.to_i).times do %> <!-- Replace 3 with review.rating-->
          <span class="fa fa-star" style="color: #CDCDCD"></span>
          <% end %>
        </div>
        <p class = "my-auto timebox mx-2"><%= review.review.review_time.strftime('%d-%m-%Y %H:%M') %></p>
        <% if review.review.review_time > current_user.last_sign_in_at %>
          <p class = "my-auto" style="color: #E34444">NEW</p>
        <% end %>
      </div>
      <div>
        <%= review.review.review_text %>
      </div>
    </div>
<!--     right side-->
    <div class="d-flex flex-column px-2 justify-content-between">
      <i class="fas fa-external-link-square-alt open-link"></i>
      <div class = "logo-button-white">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Zomato-flat-logo.png/200px-Zomato-flat-logo.png" alt="">
      </div>
    </div>
  </div>
</div>
