
<h1>Logos</h1>
<!-- Google Logo -->
<div class = "logo-button-white shadow-sm">
  <img src="http://pngimg.com/uploads/google/google_PNG19635.png" alt="">
</div>

<!-- Zomato Logo -->
<div class = "logo-button-white shadow-sm">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Zomato-flat-logo.png/200px-Zomato-flat-logo.png" alt="">
</div>

<!-- Instagram Logo -->
<div class = "logo-button-white shadow-sm">
  <img src="http://pluspng.com/img-png/instagram-png-instagram-png-logo-1455.png" alt="">
</div>

<!-- Tripadvisor Logo -->
<div class = "logo-button-white shadow-sm">
  <img src="https://media.glassdoor.com/sqll/15276/tripadvisor-squarelogo-1496150455363.png" alt="">
</div>

<!-- Facebook Logo -->
<div class = "logo-button-white shadow-sm">
  <img src="https://image.flaticon.com/icons/png/512/124/124010.png" alt="">
</div>

<!-- Yelp Logo -->
<div class = "logo-button-white shadow-sm">
  <img src="https://dlpcapitalpartners.com/wp-content/uploads/2019/01/yelp-logo.png" alt="">
</div>

<h1>Cards</h1>


<div class="col-xl-10 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-200 py-2 d-flex flex-row">
<!--     left-side
 -->
    <h1>YYYY</h1>
    <div>
      <div class="d-flex">
        <p>Info one</p>
        <p>Info two</p>
      </div>
      <div>
        Life is a mystery, everyone must stand alone I hear you call my name And it feels like home When you call my name it's like a little prayer I'm down on my knees, I wanna take you there In the midnight hour I can feel your power Just like a prayer you know I'll take you there
      </div>
    </div>
<!--     right side
 -->
    <div>
      Right SIDE
    </div>


  </div>
</div>

<div class="col-xl-10 col-md-6 mb-4">
  <div class="card border-left-primary shadow h-200 py-2">
    <div class="card-body position-relative">
      <div class="row no-gutters">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
          <div class="p mb-0 text-gray-800">Life is a mystery, everyone must stand alone I hear you call my name And it feels like home When you call my name it's like a little prayer I'm down on my knees, I wanna take you there In the midnight hour I can feel your power Just like a prayer you know I'll take you there
          </div>
          <div class="col-auto">
            <div class = "logo-button-white shadow-sm">
              <img src="https://dlpcapitalpartners.com/wp-content/uploads/2019/01/yelp-logo.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% 2.times do  %>
<span class="fa fa-star checked" style="color: yellow"></span>
<% end %>
<% (5 - 2).times do %>
<span class="fa fa-star"></span>
<% end %>


