<div class="container">
  <%= render 'shared/landing_nav_bar' %>
</div>
<!-- Landing Content -->
<div class="landing-content">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'landing-temporary.jpg' %>);">
    <div class="container">
      <h1>Welcome to <strong>Spotlight</strong>.</h1>
      <p>Shine a light on your restaurants performance.</p>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
  </div>
</div>
