<% if restaurant.class == "Restaurant" %>
  <h1>Some info <%= restaurant.name %></h1>
<% else %>
  <h1>Some info what if we have a lot longer text what does happen with the size of the card? <%= restaurant[:name] %></h1>
<% end %>

