<div class="container">
  <%= render 'shared/landing_nav_bar' %>
</div>
<div class="container" style="min-height: calc(100vh - 122px)">
  <div class="row">
    <div class="col-10 mx-auto">
     <%= render 'shared/form_wrapper', item: @restaurant, form_to_show: 'restaurants/form' %>
    </div>
  </div>
</div>
