.logo-button-white {
  background-color: white;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  img {
    width: 48px;
    height: 48px;
    border-radius: 5px;
  }
}

.logo-button-zomato {
  background-color: #CC3B2D;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  img {
    width: 48px;
    height: 48px;
    border-radius: 5px;
  }
}



