.logo-button-white {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.logo-button-zomato {
  background-color: #CC3B2D;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}



