@import "navs/global";
@import "navs/topbar";
@import "navs/sidebar";

.logo-button {
  background-color: blue;
  width: 48px;
  height: 48px;
}


.filter-touchup {
  width : 150px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}
